@font-face {
  font-family: "Harmond";
  src: url("/Harmond-ExtraBoldExpanded.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Harmond;
}

body,
html {
  overscroll-behavior: none;
  background-color: #000000;
  height: 100vh;
  width: 100%;
}

main {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  position: absolute;
  left: 0;
  top: 60%;
  left: 55%;
  z-index: 10;
  color: #ffffff;
  mix-blend-mode: difference;
}

img {
  position: absolute;
  height: 60%;
  visibility: hidden;
}

canvas {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}
